<section id="footer">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-5 widget">
          <div style="margin-bottom:10px;">
            <a href="http://pinyata.se/" target="_blank">
              <%= image_tag 'pinyata-logo.png', style: 'height: 40px;' %>
            </a>
          </div>
          <div style="margin-bottom:10px;">
            <a href="http://craftacademy.se" target="_blank">
              <%= image_tag 'http://assets.craftacademy.se/images/logo/ca-logo-medium.png', style: 'height: 20px;' %>
            </a>
          </div>
          <div style="margin-bottom:10px;">
            <a href="http://agileventures.org">
              <%= image_tag 'https://raw.githubusercontent.com/AgileVentures/agileventures-profile/master/av-logo-large.png', style: 'height: 30px;' %>
            </a>
          </div>
        </div>
        <div class="col-md-3 widget">
          <h4>Some info</h4>
          <article class="widget_content">
            <p>About Project Unify</p>
          </article>
        </div>
        <div class="col-md-4 widget">
          <h4>Some more info</h4>
          <article class="widget_content">
            <p>Address info?</p>
          </article>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 widget">Developed with
          <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span> by volunteers from
          AgileVentures
          <span class="pull-right">Sponsored by CraftAcademy and Pinyata</span>
        </div>
      </div>
    </div>
  </div>
</section>
